{% extends "base.html" %}
{% set active_page = "details" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/job-details.css') }}">
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8">
      <div class="banner">
        <img src="{{ banner_url }}" class="img-responsive" alt="{{ job.name }}">
        <div class="banner-title"><h1>{{ job.name }}</h1></div>
      </div>
      <h3>{{ job.org.name }}</h3>
      <p><em>Location: {{ job.location }}</em></p>
      <p>{{ job.description }}</p>
      <a href="#" class="btn btn-primary" role="button">Apply Now!</a>
    </div>
    <div class="col-xs-12 col-sm-3 col-sm-offset-1">
      <h2>Other jobs from this organization</h2>
      <div class="list-group">
        {% for other in other_jobs %}
        {% if other.id != job.id %}
        <a href="{{ url_for('display_job_details', jid=other.id) }}" class="list-group-item">
          <h4 class="list-group-item-heading">{{ other.name }}</h4>
          <p class="list-group-item-text">{{ other.description }}</p>
        </a>
        {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}