{% extends "base.html" %}
{% set active_page = "jobs" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/jobs.css') }}">
{% endblock %}

{% block content %}
<div class="container">
  <div class="row row-offcanvas row-offcanvas-left">
      <!-- sidebar -->
      <div class="col-xs-12 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
        <fieldset>
          <legend>Refine your search</legend>
          <ul class="list-group checked-list-box">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item" data-checked="true">Dapibus ac facilisis in</li>
            <li class="list-group-item">Morbi leo risus</li>
            <li class="list-group-item">Porta ac consectetur ac</li>
            <li class="list-group-item">Vestibulum at eros</li>
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Morbi leo risus</li>
            <li class="list-group-item">Porta ac consectetur ac</li>
            <li class="list-group-item">Vestibulum at eros</li>
          </ul>
        </fieldset>
      </div>

      <!-- main area -->
      <div class="col-xs-12 col-sm-9" id="main">
        <h1>Volunteer Opportunities</h1>
        {% for job in jobs %}
          {% if loop.index0 is divisibleby 3 %}
          <div class="row">
          {% endif %}
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <a href="{{ url_for('display_job_details', jid=job.id) }}"><img src="{{ job.banner_url }}" alt="{{ job.name }}"></a>
              <div class="caption">
                <h3>{{ job.org.name }}</h3>
                <p><em>{{ job.name }}</em></p>
                <p>{{ job.description }}</p>
                <p><a href="{{ url_for('display_job_details', jid=job.id) }}" class="btn btn-primary" role="button">Apply</a> <a href="{{ url_for('display_job_details', jid=job.id) }}" class="btn btn-default" role="button">More Info</a></p>
              </div>
            </div>
          </div>
          {% if loop.index is divisibleby 3 %}
          </div>
          {% endif %}
        {% endfor %}
      </div><!-- /.col-xs-12 main -->
  </div><!--/.row-->
</div>
{% endblock %}

{% block scripts %}
<script>
  // checked-list from http://bootsnipp.com/snippets/featured/checked-list-group
  $(function () {
    $('.list-group.checked-list-box .list-group-item').each(function () {

        // Settings
        var $widget = $(this),
            $checkbox = $('<input type="checkbox" class="hidden" />'),
            color = ($widget.data('color') ? $widget.data('color') : "primary"),
            style = ($widget.data('style') == "button" ? "btn-" : "list-group-item-"),
            settings = {
                on: {
                    icon: 'glyphicon glyphicon-check'
                },
                off: {
                    icon: 'glyphicon glyphicon-unchecked'
                }
            };

        $widget.css('cursor', 'pointer')
        $widget.append($checkbox);

        // Event Handlers
        $widget.on('click', function () {
            $checkbox.prop('checked', !$checkbox.is(':checked'));
            $checkbox.triggerHandler('change');
            updateDisplay();
        });
        $checkbox.on('change', function () {
            updateDisplay();
        });


        // Actions
        function updateDisplay() {
            var isChecked = $checkbox.is(':checked');

            // Set the button's state
            $widget.data('state', (isChecked) ? "on" : "off");

            // Set the button's icon
            $widget.find('.state-icon')
                .removeClass()
                .addClass('state-icon ' + settings[$widget.data('state')].icon);

            // Update the button's color
            if (isChecked) {
                $widget.addClass(style + color + ' active');
            } else {
                $widget.removeClass(style + color + ' active');
            }
        }

        // Initialization
        function init() {

            if ($widget.data('checked') == true) {
                $checkbox.prop('checked', !$checkbox.is(':checked'));
            }

            updateDisplay();

            // Inject the icon if applicable
            if ($widget.find('.state-icon').length == 0) {
                $widget.prepend('<span class="state-icon ' + settings[$widget.data('state')].icon + '"></span> ');
            }
        }
        init();
    });
  });
</script>
{% endblock %}